name: Build and Push Frontend + Backend to Docker Hub

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ------------------ FRONTEND IMAGE ------------------
      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            athukuribhavya/frontend:latest
            athukuribhavya/frontend:${{ github.sha }}

      # ------------------ BACKEND IMAGE -------------------
      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            athukuribhavya/backend:latest
            athukuribhavya/backend:${{ github.sha }}
