name: Backend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Give execute permission to mvnw
        run: chmod +x mvnw
        working-directory: job_craft_backend

      - name: Build backend (skip all tests)
        run: ./mvnw clean package -DskipTests
        working-directory: job_craft_backend

      - name: Upload backend JAR
        uses: actions/upload-artifact@v4
        with:
          name: backend-jar
          path: job_craft_backend/target/*.jar
